body {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c00000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b70c0c;
  cursor: pointer;
}
